<h1 align="center"><b><u>Quran & Hadith Research Foundation</u></b></h1>
<h3 align="center"><u>List of all books</u></h3>


      

		<div class="row">

   			 <% @books.each do |book| %>
			    <div class="col-sm-4">
			      <img class="img-responsive" style="width:50%" > <%= image_tag(book.image.url) if book.image.exists? %></img>
			      <p><%=link_to book.name, book%></p>
			    </div>
		     <% end %>
		</div>

 

