<h1 align="center"><b><u>Quran & Hadith Research Foundation</u></b></h1>
<h3 align="center"><u>List of all books</u></h3>


      

		<div class="row">

   			 <% @books.each do |book| %>
			    <div class="col-sm-4">
			      <img  src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="book image">
			      <p><%=link_to book.name, book%></p>
			    </div>
		     <% end %>
		</div>

 

