<h1 align="center"><b><u>Quran & Hadith Research Foundation</u></b></h1>
<h3 align="center"><u>List of all books</u></h3>

<table border="1px">
   <tbody>
    <% @books.each do |book| %>
      <tr>
      	<td align="center">book image
      	<p><%=link_to book.name, book%></p>
      	</td>
      </tr>

    <% end %>
  </tbody>
</table>