.home-page-book {
  border-radius: 25px;
  border: 5px solid #73AD21;
  width: 50%;
  height: 100%;
}

.image-text {
  font-size: 16px; 

  border-radius: 40px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.image-text:hover {
  background-color: #4CAF50;
  color: white;

}

.img-responsive2,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 4px;
  
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}