.ayat {
  font-size: 20px;
  text-align: left;
  
  border: 2px;
  border-style: solid;
  border-color: green;
  padding: 4px;
  
}
.ayat_ref {
  font-size:10px;
  background-color: #f1f1f1;
  align-self: right;
  border-style: solid;
  border-color: red;
}
.body_style{
   margin-left: 20px; /* Same as the width of the sidenav */
   margin-top: 50px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}